// Random Imgr stylesheet in sass

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Silkscreen', cursive;
  background: black;
  gap: 1em;
  @include flexBox;
}

h1 {
  color: white;

  &:hover {
    color: lightgreen;
    animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: default;
  }
}

.buttonBox {
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 5px;

  &:hover {
    color: lightgreen;
    border: 1px solid lightblue;
  }
}

.navBox {
  @include flexBox;
  gap: 7px;
}

p {
  color: white;
  font-size: 0.75rem;
}

a {
  border: none;
  text-decoration: none;
  color: white;

  &:hover {
    color: lightgreen;
  }
}

.galleryGrid {
  display: grid;
  grid: auto / auto auto;
  gap: 7px;
}

.photoGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.aboutPage {
  @include flexBox;
  gap: 10px;

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
  }
}

.footer {
  @include flexBox;
  gap: 3px;
  margin-bottom: 10px;
  margin-top: 50px;
}

/* Hover Disco Animation */
@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
